<h1> Welcome to Reddit_Clone </h1>

<%= link_to 'Sign Up', signup_path %>

<%= link_to 'Sign In', signin_path %>

<%= link_to 'New Post', new_post_path(@user) %>


Todays top posts

<% @posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
<% end %>
